.form_input {
    display:flex;
    width:400px;
    height:200px;
    border-radius:8px;
    background-color: #ccf2ff;
    margin: 0 auto;
  }


  .form_input p {
    text-align:center;
    font-size:30px
  }
  
  .j-result {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .inp_text {
    align-items: center;
    justify-content: center;
    width:300px;
    height:30px;
    margin: 0 auto;
   }
  
  .button-submit {
    width:100px;
    height:40px;
    margin: 0 auto;
    background-color: #00bfff;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: #00bfff;
  }

  .card {
    width: 200px;
    height: 150px;
    margin: 20px;
  }
 
  .card-image {
    display: block;
    width: 200px;
    height: 150px;
  }

  .card p {
    margin: 0 auto;
    text-align:center;
    font-size:30px
  }

  .result {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
  }
  .active_error {
    width:200px;
    height:100px;
    border-radius:8px;
    background-color: #d6000071;
    margin: 0 auto;
  }
  .error_number {
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: px;
    font-size: 30px;
  }

  .error_number p {
    text-align: center;
    background-color: #f80606;
    color: rgb(0, 0, 0);
    font-size: 25px;
    border-radius: 15px;
  }